@import "tailwindcss";

@theme {
  /* Renkleri değişken olarak tanımlıyoruz */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Varsayılan (Açık) Tema Renkleri */
:root {
  --background: #f9f9f1; /* Slate-100 veya Slate-200 gibi açık bir renk */
  --foreground: #0f172a; /* Slate-900 */
  --border: #e2e8f0; /* Slate-200 */
  --input: #f9f9f1;
}

/* Karanlık Tema Renkleri (html etiketinde .dark varsa çalışır) */
.dark {
  --background: #020617; /* Slate-950 */
  --foreground: #f8fafc; /* Slate-50 */
  --border: #334155; /* Slate-700 */
  --input: #1e293b;
}

/* Body etiketine bu değişkenleri bağlıyoruz */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s,
    color 0.3s;
}
